@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat';
}
html{
    scroll-behavior: smooth;
}
 body{
     height: 100%;
 }
/* navbar specific stuff */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    border-bottom:1px solid white;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
.navbar ul li {
    list-style:none;

}
.nav-item a {
    text-decoration: none;
color: rgb(255, 255, 255);
transition: all 0.5s;
}

.nav-item a:hover{
text-decoration: underline;

}

.logo-img{
    height: 40px;
    width: 50px;
}
.logo-name{
    color: white;
    font-size: 40px;
    font-family: 'Roboto';
    margin-left: 10px;
}
#main-section{
    background: #000;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 30px ;
    height: 100vh;
    

}
.primarybtn{
    border: 1px solid rgb(255, 255, 255);
    background: rgb(5, 57, 117);
    padding: 7px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(113, 158, 209) ;
    transition: ease-out 0.3s;
}
.primarybtn:hover{
    /* background: rgb(2, 31, 63); */
    box-shadow: inset 50px 0 0 0  rgb(48, 48, 8)  ;
  
}
#animated-text{
    color: tomato;
    font-weight: lighter;
    font-size: 50px;
    margin: 50px;
    /* text-decoration: underline */
}
.container{
display: flex;
justify-content: center;
align-items: center;
margin: 50px 0px 0px 20px ;
border-right:1px solid red;
}
#intro-section{
    display: flex;
    text-decoration: underline;
}
.footer{
    background: #000;
    position: relative;
    bottom: 0px;
    border: 0.5px solid white;
    padding: 10px;
    height: 160px;

} 
.footer-item1{
    color: burlywood;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    padding-bottom: 10px;

}
.footer-item2{
    position: absolute;
    top: 48px;
    right: 9px;
    
}
.footer-item4{
    font-size: 15px;
    margin: 10px;

}
.footer-item5{
    display: flex;
    align-items: center;
    position: absolute;
    left: 45%;


}
.logo-img1{
    height: 25px;

}
.footer-item5 span {
margin-left: 15px;
}
.sign{
border: 0.2px solid white;
padding: 10px;
border-radius:5px ;
color: white; 
text-decoration: none;

}

.sign:hover{
    background-color: white;
    color: black;

}

.socialmedia{
    margin: 10px;
}
#contact-us{
    margin:auto  12px 20px 12px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 26px;
    height: 23rem;
    color: black;

}
.black{
    color: black;
}
.form-label{
    margin: 0px;
}