@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html{
    height:100%;
}

.center{
    text-align: center;
}
.liststylenone{
    list-style: none;
}
.text-decoration-none{
    text-decoration: none;
    color: white;
}
.navbar{
    height: 100px;
    background: rgb(35 38 90);
}

.navbar>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100px;
}
.nav-item{
    list-style: none;
    font-size: 20px;
}
.signup{
    padding: 10px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.signup:hover{
    color: black;
    background: rgb(255, 255, 255);
    border: 1px solid transparent;
    font-weight: bolder;
}


.brand-logo{
    margin-right: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brand-logo>span{
    color: #ffed70;
    font-family: 'Poppins';
}
#brand-img{
    width: 115px;
    height: 54px;
margin: 6px;}

.dynamic-container{
    display: flex;
    padding: 2rem;
    align-items: center;

 
}
.dynamic-container>h2{
    text-align: center;
}
.slideshow-container {
    max-width: 1123px;
    position: relative;
    margin: 40px auto 10px  auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 21px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(78 48 6);
}

.text {
    color: #f2f2f2;
    font-size: 27px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15em;
    font-family: 'Open Sans';
    width: 100%;
    text-align: center;}

.numbertext {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1f2222;
}

.fade {
  
  animation-name: fade;
  animation-duration: 1.5s;
}



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(235,235,235);
    padding: 20px;
    margin-top: 35px;
}

.component-card{
    display: flex;
    flex-direction: column;
    background: #fff;
    /* color: rgb(255, 0, 0); */
    border: 1px solid #23265a;
    padding: 20px;
    margin: 20px;
    list-style: none;
    width: 60%;
    height: 23rem;
    border-radius: 30px;
    font-weight: 500;
    transition: all ease-in 0.4s;
}
.component-card:hover{
    box-shadow: 5px 10px 22px;
}
.component-item{
    list-style: none;

}
.component-item1{
   float: right;
   text-decoration: underline;
   color: #23265a;
   font-weight: 900;
   font-family: 'Open Sans';
}
.component-item2{
    display: inline;
    font-size: 25px;
    margin-right: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
    color: #585200;
    font-family: 'Open Sans';
}
.component-item3{
    text-align: center;
    margin: 34px;
    padding: 10px;
    font-size: 20px;
    color: #23265a;
    font-weight: 900;
}
.component-item4{
 text-align: center;
 margin: 15px;
 font-family: 'Open Sans';
}
#footer{
    /* position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%; */
    border: 2px solid rgb(17, 33, 105);
    background-color: rgb(35, 38, 90);
    color: white;
    font-weight:lighter;
    font-family:'Poppins';
}
.logo-img1{
    height: 50px;
    width: 110px;
    margin: 0px auto 16px auto;
}
.footer-item1{
    padding: 10px;
border-bottom: 1px solid grey;
}
.footer-item2{
    position: absolute;
    right: 14px;
    margin-top:20px;
}
.footer-item2>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-item3{
    width:40em;
    margin: 0px auto 20px  auto;
}
.footer-item3>ul{
    display: grid;
    grid-template-columns: auto auto auto ;
} 
.implinks{
    list-style: none;
    padding: 2px;
    margin: 7px;
    cursor: pointer;
}
.implinkh{
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
    padding: 10px;
    color:#fff4a8;
}
.footer-item4{
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}
.footer-item4>h2{
    font-size: 16px;
}

.footer-item5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.motto{
    margin-bottom: 20px;
}
