doctype html
html
  head
    title #{title}
    block style
    nav#navbar
            ul
                
              li.myname TechASR
              li 
                img(src="./static/img/icon1.jpg", alt="icon" class="icon")
              li.list-item #[a(href="/") Home]
              li.list-item #[a(href="/news") Latest tech news]
              li.list-item #[a(href="/blog") Blog] 
              li.list-item #[a(href="/contact") Contact US] 
             
    block content
    footer#footer TechASR &copy; 2021|Global company 
          .author This website is made by Rohit Kumar. ILY
  block scripts    