
extends base.pug

block scripts
    script(src='../static/index.js')
 
block style 
    style 
        include ../static/style.css
 
block content
    section#about-section  this is about section
    section#img-sec 
        form#upload-form(action="/post-file", method="post" enctype = "multipart/form-data") 
            input#file-upload(type="file", name="client-file" value="chose file" multiple) 
            input(type="submit", value="upload")